USE [master]
GO
/****** Object:  Database [PruebaMVVM]    Script Date: 11/10/2023 6:03:20 p. m. ******/
CREATE DATABASE [PruebaMVVM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaMVVM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PruebaMVVM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaMVVM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PruebaMVVM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaMVVM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaMVVM]
GO
/****** Object:  User [samuel]    Script Date: 11/10/2023 6:03:20 p. m. ******/
CREATE USER [samuel] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TSexo]    Script Date: 11/10/2023 6:03:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSexo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [text] NULL,
 CONSTRAINT [PK_TSexo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUsuario]    Script Date: 11/10/2023 6:03:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUsuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [text] NULL,
	[Apellido] [text] NULL,
	[Correo] [varchar](max) NULL,
	[Telefono] [varchar](15) NULL,
	[IDSexo] [int] NULL,
 CONSTRAINT [PK_TUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TSexo] ON 

INSERT [dbo].[TSexo] ([ID], [Nombre]) VALUES (1, N'Masculino')
INSERT [dbo].[TSexo] ([ID], [Nombre]) VALUES (2, N'Femenino')
INSERT [dbo].[TSexo] ([ID], [Nombre]) VALUES (3, N'No Binario')
SET IDENTITY_INSERT [dbo].[TSexo] OFF
GO
SET IDENTITY_INSERT [dbo].[TUsuario] ON 

INSERT [dbo].[TUsuario] ([ID], [Nombre], [Apellido], [Correo], [Telefono], [IDSexo]) VALUES (1, N'Samuel', N'Solano', N'Samuelsolanoama@gmail.com', N'+57 3244123104', 1)
INSERT [dbo].[TUsuario] ([ID], [Nombre], [Apellido], [Correo], [Telefono], [IDSexo]) VALUES (2, N'Jeider', N'Morelo', N'jeiderm20@gmail.com', N'+ 56 3218800048', 3)
INSERT [dbo].[TUsuario] ([ID], [Nombre], [Apellido], [Correo], [Telefono], [IDSexo]) VALUES (3, N'Lilia', N'Novoa', N'liliatupancita@gmail.com', N'+1 3214623246', 4)
SET IDENTITY_INSERT [dbo].[TUsuario] OFF
GO
ALTER TABLE [dbo].[TUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TUsuario_TSexo] FOREIGN KEY([IDSexo])
REFERENCES [dbo].[TSexo] ([ID])
GO
ALTER TABLE [dbo].[TUsuario] CHECK CONSTRAINT [FK_TUsuario_TSexo]
GO
USE [master]
GO
